body {
  min-width: 960px;
  height: 100%;
  background-color: #FFFFFF;
  /* background-image: url(../img/bg.png); */
  background-position: 0 0;
  background-repeat: repeat;
  color: #494949;
  font-weight: 300;
  font-style: normal;
  font-size: 123.1%;
  font-family: "Helvetica Neue", "Arial", sans-serif;
  line-height: 1.4;
}
h1 {
  margin: 88px 0 16px 0;
  color: #222;
  font-weight: bold;
  font-size: 193%;
}
div.wrapper {
  margin: 0 auto;
  width: 920px;
}
dt {
  margin-top: 16px;
  font-weight: bold;
}
dt:first-child {
  margin-top: 0px;
}
dt + dd {
  padding-top: 8px;
}
p, dd {
  color: #777;
}
a {
  color: #39c;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}